.Applications-wrapper{
    height: 100vh;
    background: #B1D9D4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.top-header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 5%;
}
.top-header h1{
color: black;
font-size: 2.3em;
font-family: cursive;
margin: 0 0 0 2%;
}
.top-header h3{
    color: white;
    font-size: 18px;
    margin: 0 3% 0 0;
}
.content-box{
    background: #E3E5DF;
   -webkit-box-shadow: -1px -1px 17px 1px rgba(0, 182, 184,1);
-moz-box-shadow: -1px -1px 17px 1px rgba(0, 182, 184,1);
box-shadow: -1px -1px 17px 1px rgba(0, 182, 184,1);
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.top-nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5%;
}
.bottom-nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 5%;
}
.nav-items{
     display: flex;
    flex-direction: row;
    color: black;
}
.nav-items a{
    color: black;
}
.nav-items li{
    padding: 0 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.nav-items li:hover{
    cursor: pointer;
}
.header{
    font-size: 22px;
    color: black;
    padding: 10px 0;
}
.app-title{
    border-bottom: solid 3px rgb(0, 182, 184);
    margin: 0 30%;
}
table{
    margin: 20px 0 0 0;
    
    width: 100%;
}
.app-table th{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
    height: 50px
}
.app-table td{
    padding: 10px;
}
.app-table tr:nth-child(even){
    background:#01A09E;
    color: white;
}
.buttons{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn{
    width: 100px;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 10px 0 10px;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
/* border: 0px solid #000000; */
}
.btn1{
    background: #00B6B8;
    color: white;
}
/* .btn1:hover{
    background: gold;  
} */
.btn2{
    background: white;
        color: #00B6B8;
border: 3px solid #00B6B8;
}
.btn2:hover{
    background: #00B6B8;
    color:white;
border: 3px solid white;
    
}
.newInfo{
    background: white;
    border: solid 5px rgb(52, 156, 71);
    position: absolute;
    height: 70vh;
    width: 30vw;
}
.newInfo-container{
    position: absolute;
    background: rgb(0, 0, 0, .7);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-title{
    color: black;
}