.buttons{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.btn{
    width: 100px;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 10px 0 10px;
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
/* border: 0px solid #000000; */
}
.btn1{
    background: rgb(52, 156, 71);
    color: white;
}
/* .btn1:hover{
    background: gold;  
} */
.btn2{
    background: white;
        color: #349c47;
border: 3px solid #349c47;
}
.btn2:hover{
    background: #349c47;
    color:white;
border: 3px solid white;
    
}