.Companies-wrapper {
  height: 100vh;
    background: linear-gradient(to left, #0f0f11 0%, #3c4241 118%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box {
   background: #3C4241;
  width: 80vw;
  height: 80vh;
}
.comp-title {
  border-bottom: solid 3px rgb(0, 182, 184);
  margin: 0 30%;
}
.comp-table th{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
    height: 50px
}
.comp-table td{
    padding: 10px;
}
.comp-table tr:nth-child(even){
    background: #01A09E;
    color: white;
}
.comp-table tr:nth-child(even) a {
    color: white;
  
}
