.Connections-wrapper{
    height: 100vh;
    background: rgb(212, 119, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    background: #fff;
    width: 80vw;
    height: 80vh;
}
.conn-title{
    border-bottom: solid 3px rgb(212, 119, 114);
    margin: 0 30%;
}
.conn-table th{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
    height: 50px
}
.conn-table td{
    padding: 10px;
}
.conn-table tr:nth-child(even){
    background: rgb(233, 152, 147, 0.8);
    color: white;
}
.conn-table tr:nth-child(even) a {
    color: white;
  
}