.Interviews-wrapper{
    height: 100vh;
    background: linear-gradient(to left, #0f0f11 0%, #3c4241 118%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
   background: #3C4241;
    width: 80vw;
    height: 80vh;
}
.int-title{
    border-bottom: solid 3px rgb(0, 182, 184);
    margin: 0 30%;
}
.int-table th{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.int-table td{
    padding: 10px;
}
.int-table tr:nth-child(even){
    background: #01A09E;
    color: white;
}